<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">DigiKitty</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink='/'>Home</a>
    <a class="p-2 text-dark" routerLink='/about'>About Us</a>
  </nav>
</div>
