<div class="page-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">{{ pageTitle }}</h1>
</div>
<section>
  
  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" class="carousel slide " [type]="'carousel-thumbnails'" [animation]="'slide'">
   
    <mdb-slide *ngFor="let item of images">
      <img class="d-block w-100" src="{{ item.url }}" alt="{{ item.title }}">
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ item.title }}</h3>
      </div>
    </mdb-slide>
    
  </mdb-carousel>
  <!--/.Carousel Wrapper-->

</section>

<form class="form-signin" (ngSubmit)="onSubmit()" #carouselForm="ngForm">
  
  <h3 class="h3 mb-3 font-weight-normal">Add a slide</h3>

  <input type="text"
         class="form-control"
         placeholder="Slide Title"
         required
         [(ngModel)]="carousel.title" name="title" #title="ngModel">
  <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
    Title is required!
  </div>
  <button class="mt-3 btn btn-sm btn-primary btn-block" type="button" [disabled]="!carouselForm.form.valid" (click)="onAddTile(); carouselForm.reset()">Submit</button>
</form>

